@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-dark: #f8fafc;
  --color-brand-primary: #7f1d1d;
  --color-brand-secondary: #f1f5f9;
  --color-brand-accent: #b91c1c;
  --color-brand-bright: #991b1b;
}

@layer base {
  body {
    @apply font-sans bg-brand-dark text-slate-800;
  }
}
